In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#unique schools and total unique schools
total_unique_schools = school_data_complete["school_name"].unique()
print("there are a total of " + str(len(total_unique_schools)) + " different schools")

there are a total of 15 different schools

In [3]:
#total amount of different students
total_students = school_data_complete["student_name"]
print("there are a total of " + str(len(total_students)) + " students")

there are a total of 39170 students

In [4]:
budget_total = school_data_complete["budget"].unique()
#because these are different schools, they will have different budgets meaning I can make a list of all the unique budgets
print("the total budget for all the schools is " + str(budget_total.sum()))

the total budget for all the schools is 24649428

In [5]:
#average math score and reading score. so just the mean
math_average = school_data_complete["math_score"].mean()
reading_average = school_data_complete["reading_score"].mean()

print("The average score for math was " + str(round((math_average),2)))
print("The average score for reading was " + str(round((reading_average),2)))

The average score for math was 78.99
The average score for reading was 81.88

In [6]:
passed_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70) , :]
passed_reading =  school_data_complete.loc[(school_data_complete["reading_score"] >= 70) , :]
passed_both = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), :]
# we can use loc to find all the values in which the score was a passing grade 
#and for both , we can just combine math and reading

#for the percentages, we can just divide the passing number of students by the total amount of students
percent_passed_math = round((len(passed_math)/len(total_students)) * 100,2)
percent_passed_reading = round((len(passed_reading)/len(total_students)) * 100,2)
percent_passed_both = round((len(passed_both)/len(total_students)) * 100,2)

print("percent that passed math was " + str(percent_passed_math))
print("percent that passed reading was " + str(percent_passed_reading))
print("percent that passed both math and reading was " + str(percent_passed_both))

percent that passed math was 74.98
percent that passed reading was 85.81
percent that passed both math and reading was 65.17

In [7]:
district_summary = pd.DataFrame({
    "Total Students" : [len(total_students)],
    "Total Unique schools " : [len(total_unique_schools)],
    "Average Reading Score": [round((reading_average),2)],
    "Average Math Score": [round((math_average),2)],
    "Math Passing Percentage" : [percent_passed_math],
    "Reading Passing Percentage" : [percent_passed_reading],
    "Passing both percentage" : [percent_passed_both]
}
)

district_summary

,Total Students,Total Unique schools,Average Reading Score,Average Math Score,Math Passing Percentage,Reading Passing Percentage,Passing both percentage
0,39170,15,81.88,78.99,74.98,85.81,65.17

In [8]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [10]:
total_budget = school_data_complete.groupby(["school_name"])["budget"].mean()
total_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [11]:
#total students per school
students_per_school = school_data_complete.groupby(["school_name"])["Student ID"].count()

students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [12]:
budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
budget_per_student = budget/students_per_school
budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [13]:
average_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
average_math = round(average_math,2)
average_math

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [14]:
average_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
average_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [15]:
math = school_data_complete.loc[(school_data_complete["math_score"] >= 70) , :]
total_passed_math = math.groupby(["school_name"])["Student ID"].count()
total_passed_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [16]:
reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) , :]
total_passed_reading = reading.groupby(["school_name"])["Student ID"].count()
total_passed_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [17]:


math_passing_percent = round((total_passed_math/students_per_school)*100,2)
math_percent_df = pd.DataFrame(math_passing_percent) 
math_percent_df_copy = math_percent_df.rename(columns={"Student ID":"% Passing math"})
df1 = math_percent_df.rename(columns={"Student ID":"% passing math"})
df1 = df1["% passing math"].map("{:}%".format)
df1

school_name
Bailey High School       66.68%
Cabrera High School      94.13%
Figueroa High School     65.99%
Ford High School         68.31%
Griffin High School      93.39%
Hernandez High School    66.75%
Holden High School       92.51%
Huang High School        65.68%
Johnson High School      66.06%
Pena High School         94.59%
Rodriguez High School    66.37%
Shelton High School      93.87%
Thomas High School       93.27%
Wilson High School       93.87%
Wright High School       93.33%
Name: % passing math, dtype: object

In [18]:
reading_passing_percent = round((total_passed_reading/students_per_school)*100,2)
reading_percent_df = pd.DataFrame(reading_passing_percent) 
reading_percent_df_copy = reading_percent_df.rename(columns={"Student ID":"% Passing reading"})
df2 = reading_percent_df.rename(columns={"Student ID":"% passing reading"})
df2 = df2["% passing reading"].map("{:}%".format)
df2

school_name
Bailey High School       81.93%
Cabrera High School      97.04%
Figueroa High School     80.74%
Ford High School          79.3%
Griffin High School      97.14%
Hernandez High School    80.86%
Holden High School       96.25%
Huang High School        81.32%
Johnson High School      81.22%
Pena High School         95.95%
Rodriguez High School    80.22%
Shelton High School      95.85%
Thomas High School       97.31%
Wilson High School       96.54%
Wright High School       96.61%
Name: % passing reading, dtype: object

In [19]:
both = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) &
                                (school_data_complete["math_score"] >= 70), :]

total_passed_both = both.groupby(["school_name"])["Student ID"].count()

both_passing_percent = round((total_passed_both/students_per_school)*100,2)
both_percent_df = pd.DataFrame(both_passing_percent) 
both_percent_df_copy = both_percent_df.rename(columns={"Student ID":"% Passing both"})
df3 = both_percent_df.rename(columns={"Student ID":"% passing both"})
df3 = df3["% passing both"].map("{:}%".format)
df3

school_name
Bailey High School       54.64%
Cabrera High School      91.33%
Figueroa High School      53.2%
Ford High School         54.29%
Griffin High School       90.6%
Hernandez High School    53.53%
Holden High School       89.23%
Huang High School        53.51%
Johnson High School      53.54%
Pena High School         90.54%
Rodriguez High School    52.99%
Shelton High School      89.89%
Thomas High School       90.95%
Wilson High School       90.58%
Wright High School       90.33%
Name: % passing both, dtype: object

In [20]:
everything = pd.concat([students_per_school,school_type,total_budget, budget_per_student,average_reading,average_math, df1, df2, df3],axis = 1)
summary = pd.DataFrame(everything)

summary = summary.rename(columns={"Student ID":"Total Students"})
summary = summary.rename(columns={"Student ID":"Total Students"})
summary = summary.rename(columns={0:"budget per students"})
summary = summary.rename(columns={"budget":"budget per school"})
summary = summary.rename(columns={"reading_score":"Average Reading Score"})
summary = summary.rename(columns={"math_score":"Average Math Score"})

summary

,Total Students,type,budget per school,budget per students,Average Reading Score,Average Math Score,% passing math,% passing reading,% passing both
school_name,,,,,,,,,
Bailey High School,4976,District,3124928.0,628.0,81.033963,77.05,66.68%,81.93%,54.64%
Cabrera High School,1858,Charter,1081356.0,582.0,83.975780,83.06,94.13%,97.04%,91.33%
Figueroa High School,2949,District,1884411.0,639.0,81.158020,76.71,65.99%,80.74%,53.2%
Ford High School,2739,District,1763916.0,644.0,80.746258,77.10,68.31%,79.3%,54.29%
Griffin High School,1468,Charter,917500.0,625.0,83.816757,83.35,93.39%,97.14%,90.6%
Hernandez High School,4635,District,3022020.0,652.0,80.934412,77.29,66.75%,80.86%,53.53%
Holden High School,427,Charter,248087.0,581.0,83.814988,83.80,92.51%,96.25%,89.23%
Huang High School,2917,District,1910635.0,655.0,81.182722,76.63,65.68%,81.32%,53.51%
Johnson High School,4761,District,3094650.0,650.0,80.966394,77.07,66.06%,81.22%,53.54%
Pena High School,962,Charter,585858.0,609.0,84.044699,83.84,94.59%,95.95%,90.54%
Rodriguez High School,3999,District,2547363.0,637.0,80.744686,76.84,66.37%,80.22%,52.99%
Shelton High School,1761,Charter,1056600.0,600.0,83.725724,83.36,93.87%,95.85%,89.89%
Thomas High School,1635,Charter,1043130.0,638.0,83.848930,83.42,93.27%,97.31%,90.95%
Wilson High School,2283,Charter,1319574.0,578.0,83.989488,83.27,93.87%,96.54%,90.58%
Wright High School,1800,Charter,1049400.0,583.0,83.955000,83.68,93.33%,96.61%,90.33%

In [21]:
top_schools = summary.sort_values(["% passing both"], ascending=False)
top_schools.head(5)

,Total Students,type,budget per school,budget per students,Average Reading Score,Average Math Score,% passing math,% passing reading,% passing both
school_name,,,,,,,,,
Cabrera High School,1858,Charter,1081356.0,582.0,83.975780,83.06,94.13%,97.04%,91.33%
Thomas High School,1635,Charter,1043130.0,638.0,83.848930,83.42,93.27%,97.31%,90.95%
Griffin High School,1468,Charter,917500.0,625.0,83.816757,83.35,93.39%,97.14%,90.6%
Wilson High School,2283,Charter,1319574.0,578.0,83.989488,83.27,93.87%,96.54%,90.58%
Pena High School,962,Charter,585858.0,609.0,84.044699,83.84,94.59%,95.95%,90.54%

In [22]:
bottom_schools = summary.sort_values(["% passing both"], ascending=True)
bottom_schools.head(5)

,Total Students,type,budget per school,budget per students,Average Reading Score,Average Math Score,% passing math,% passing reading,% passing both
school_name,,,,,,,,,
Rodriguez High School,3999,District,2547363.0,637.0,80.744686,76.84,66.37%,80.22%,52.99%
Figueroa High School,2949,District,1884411.0,639.0,81.158020,76.71,65.99%,80.74%,53.2%
Huang High School,2917,District,1910635.0,655.0,81.182722,76.63,65.68%,81.32%,53.51%
Hernandez High School,4635,District,3022020.0,652.0,80.934412,77.29,66.75%,80.86%,53.53%
Johnson High School,4761,District,3094650.0,650.0,80.966394,77.07,66.06%,81.22%,53.54%

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "ninth grade": ninth_grade_math_scores,
    "tenth grade": tenth_grader_math_scores,
    "eleventh grade": eleventh_grader_math_scores,
    "twelth grade" : tenth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                       ninth grade  tenth grade  eleventh grade  twelth grade
Bailey High School       77.083676    76.996772       77.515588     76.996772
Cabrera High School      83.094697    83.154506       82.765560     83.154506
Figueroa High School     76.403037    76.539974       76.884344     76.539974
Ford High School         77.361345    77.672316       76.918058     77.672316
Griffin High School      82.044010    84.229064       83.842105     84.229064
Hernandez High School    77.438495    77.337408       77.136029     77.337408
Holden High School       83.787402    83.429825       85.000000     83.429825
Huang High School        77.027251    75.908735       76.446602     75.908735
Johnson High School      77.187857    76.691117       77.491653     76.691117
Pena High School         83.625455    83.372000       84.328125     83.372000
Rodriguez High School    76.859966    76.612500       76.395626     76.612500
Shelton High School      83.420755    82.917411       83.383495     82.917411
Thomas High School       83.590022    83.087886       83.498795     83.087886
Wilson High School       83.085578    83.724422       83.195326     83.724422
Wright High School       83.264706    84.010288       83.836782     84.010288

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

# Use the code to select only the `math_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "ninth grade": ninth_grade_reading_scores,
    "tenth grade": tenth_grader_reading_scores,
    "eleventh grade": eleventh_grader_reading_scores,
    "twelth grade" : tenth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                       ninth grade  tenth grade  eleventh grade  twelth grade
Bailey High School       81.303155    80.907183       80.945643     80.907183
Cabrera High School      83.676136    84.253219       83.788382     84.253219
Figueroa High School     81.198598    81.408912       80.640339     81.408912
Ford High School         80.632653    81.262712       80.403642     81.262712
Griffin High School      83.369193    83.706897       84.288089     83.706897
Hernandez High School    80.866860    80.660147       81.396140     80.660147
Holden High School       83.677165    83.324561       83.815534     83.324561
Huang High School        81.290284    81.512386       81.417476     81.512386
Johnson High School      81.260714    80.773431       80.616027     80.773431
Pena High School         83.807273    83.612000       84.335938     83.612000
Rodriguez High School    80.993127    80.629808       80.864811     80.629808
Shelton High School      84.122642    83.441964       84.373786     83.441964
Thomas High School       83.728850    84.254157       83.585542     84.254157
Wilson High School       83.939778    84.021452       83.764608     84.021452
Wright High School       83.833333    83.812757       84.156322     83.812757

In [25]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_spending_df = summary.copy()
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["budget per students"], spending_bins, labels=labels, include_lowest=True)
school_spending_df
# because the percentages in the copied data frame from before we all string/object values
#i made a new data frame which has those same percentage values except as floats instead of strings
#converting was not working for some reason
school_spending_df_copy = pd.concat([school_spending_df,math_percent_df_copy,reading_percent_df_copy,both_percent_df_copy],axis = 1)
school_spending_df_copy

,Total Students,type,budget per school,budget per students,Average Reading Score,Average Math Score,% passing math,% passing reading,% passing both,Spending Ranges (Per Student),% Passing math,% Passing reading,% Passing both
school_name,,,,,,,,,,,,,
Bailey High School,4976,District,3124928.0,628.0,81.033963,77.05,66.68%,81.93%,54.64%,$585-630,66.68,81.93,54.64
Cabrera High School,1858,Charter,1081356.0,582.0,83.975780,83.06,94.13%,97.04%,91.33%,<$585,94.13,97.04,91.33
Figueroa High School,2949,District,1884411.0,639.0,81.158020,76.71,65.99%,80.74%,53.2%,$630-645,65.99,80.74,53.20
Ford High School,2739,District,1763916.0,644.0,80.746258,77.10,68.31%,79.3%,54.29%,$630-645,68.31,79.30,54.29
Griffin High School,1468,Charter,917500.0,625.0,83.816757,83.35,93.39%,97.14%,90.6%,$585-630,93.39,97.14,90.60
Hernandez High School,4635,District,3022020.0,652.0,80.934412,77.29,66.75%,80.86%,53.53%,$645-680,66.75,80.86,53.53
Holden High School,427,Charter,248087.0,581.0,83.814988,83.80,92.51%,96.25%,89.23%,<$585,92.51,96.25,89.23
Huang High School,2917,District,1910635.0,655.0,81.182722,76.63,65.68%,81.32%,53.51%,$645-680,65.68,81.32,53.51
Johnson High School,4761,District,3094650.0,650.0,80.966394,77.07,66.06%,81.22%,53.54%,$645-680,66.06,81.22,53.54
Pena High School,962,Charter,585858.0,609.0,84.044699,83.84,94.59%,95.95%,90.54%,$585-630,94.59,95.95,90.54
Rodriguez High School,3999,District,2547363.0,637.0,80.744686,76.84,66.37%,80.22%,52.99%,$630-645,66.37,80.22,52.99
Shelton High School,1761,Charter,1056600.0,600.0,83.725724,83.36,93.87%,95.85%,89.89%,$585-630,93.87,95.85,89.89
Thomas High School,1635,Charter,1043130.0,638.0,83.848930,83.42,93.27%,97.31%,90.95%,$630-645,93.27,97.31,90.95
Wilson High School,2283,Charter,1319574.0,578.0,83.989488,83.27,93.87%,96.54%,90.58%,<$585,93.87,96.54,90.58
Wright High School,1800,Charter,1049400.0,583.0,83.955000,83.68,93.33%,96.61%,90.33%,<$585,93.33,96.61,90.33

In [26]:
spending_math_scores = school_spending_df_copy.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df_copy.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df_copy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing math"]
spending_passing_reading = school_spending_df_copy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing reading"]
overall_passing_spending = school_spending_df_copy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing both"]

In [27]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Spending ranges per student by average math score":spending_math_scores,
    "Spending ranges per student by average reading score":spending_reading_scores,
    "Spending ranges per student on percentage of passing math":spending_passing_math,
    "Spending ranges per student on percentage of passing reading":spending_passing_reading,
    "Spending ranges per student on percentage of passing both":overall_passing_spending
})

# Display results
spending_summary

,Spending ranges per student by average math score,Spending ranges per student by average reading score,Spending ranges per student on percentage of passing math,Spending ranges per student on percentage of passing reading,Spending ranges per student on percentage of passing both
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.933814,93.460000,96.610000,90.367500
$585-630,81.900000,83.155286,87.132500,92.717500,81.417500
$630-645,78.517500,81.624473,73.485000,84.392500,62.857500
$645-680,76.996667,81.027843,66.163333,81.133333,53.526667

In [28]:

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

per_school_summary = summary.copy()
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels, include_lowest=True)
per_school_summary

,Total Students,type,budget per school,budget per students,Average Reading Score,Average Math Score,% passing math,% passing reading,% passing both,School Size
school_name,,,,,,,,,,
Bailey High School,4976,District,3124928.0,628.0,81.033963,77.05,66.68%,81.93%,54.64%,Large (2000-5000)
Cabrera High School,1858,Charter,1081356.0,582.0,83.975780,83.06,94.13%,97.04%,91.33%,Medium (1000-2000)
Figueroa High School,2949,District,1884411.0,639.0,81.158020,76.71,65.99%,80.74%,53.2%,Large (2000-5000)
Ford High School,2739,District,1763916.0,644.0,80.746258,77.10,68.31%,79.3%,54.29%,Large (2000-5000)
Griffin High School,1468,Charter,917500.0,625.0,83.816757,83.35,93.39%,97.14%,90.6%,Medium (1000-2000)
Hernandez High School,4635,District,3022020.0,652.0,80.934412,77.29,66.75%,80.86%,53.53%,Large (2000-5000)
Holden High School,427,Charter,248087.0,581.0,83.814988,83.80,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,2917,District,1910635.0,655.0,81.182722,76.63,65.68%,81.32%,53.51%,Large (2000-5000)
Johnson High School,4761,District,3094650.0,650.0,80.966394,77.07,66.06%,81.22%,53.54%,Large (2000-5000)
Pena High School,962,Charter,585858.0,609.0,84.044699,83.84,94.59%,95.95%,90.54%,Small (<1000)
Rodriguez High School,3999,District,2547363.0,637.0,80.744686,76.84,66.37%,80.22%,52.99%,Large (2000-5000)
Shelton High School,1761,Charter,1056600.0,600.0,83.725724,83.36,93.87%,95.85%,89.89%,Medium (1000-2000)
Thomas High School,1635,Charter,1043130.0,638.0,83.848930,83.42,93.27%,97.31%,90.95%,Medium (1000-2000)
Wilson High School,2283,Charter,1319574.0,578.0,83.989488,83.27,93.87%,96.54%,90.58%,Large (2000-5000)
Wright High School,1800,Charter,1049400.0,583.0,83.955000,83.68,93.33%,96.61%,90.33%,Medium (1000-2000)

In [29]:
per_school_summary_copy = pd.concat([per_school_summary,math_percent_df_copy,reading_percent_df_copy,both_percent_df_copy],axis = 1)
per_school_summary_copy

,Total Students,type,budget per school,budget per students,Average Reading Score,Average Math Score,% passing math,% passing reading,% passing both,School Size,% Passing math,% Passing reading,% Passing both
school_name,,,,,,,,,,,,,
Bailey High School,4976,District,3124928.0,628.0,81.033963,77.05,66.68%,81.93%,54.64%,Large (2000-5000),66.68,81.93,54.64
Cabrera High School,1858,Charter,1081356.0,582.0,83.975780,83.06,94.13%,97.04%,91.33%,Medium (1000-2000),94.13,97.04,91.33
Figueroa High School,2949,District,1884411.0,639.0,81.158020,76.71,65.99%,80.74%,53.2%,Large (2000-5000),65.99,80.74,53.20
Ford High School,2739,District,1763916.0,644.0,80.746258,77.10,68.31%,79.3%,54.29%,Large (2000-5000),68.31,79.30,54.29
Griffin High School,1468,Charter,917500.0,625.0,83.816757,83.35,93.39%,97.14%,90.6%,Medium (1000-2000),93.39,97.14,90.60
Hernandez High School,4635,District,3022020.0,652.0,80.934412,77.29,66.75%,80.86%,53.53%,Large (2000-5000),66.75,80.86,53.53
Holden High School,427,Charter,248087.0,581.0,83.814988,83.80,92.51%,96.25%,89.23%,Small (<1000),92.51,96.25,89.23
Huang High School,2917,District,1910635.0,655.0,81.182722,76.63,65.68%,81.32%,53.51%,Large (2000-5000),65.68,81.32,53.51
Johnson High School,4761,District,3094650.0,650.0,80.966394,77.07,66.06%,81.22%,53.54%,Large (2000-5000),66.06,81.22,53.54
Pena High School,962,Charter,585858.0,609.0,84.044699,83.84,94.59%,95.95%,90.54%,Small (<1000),94.59,95.95,90.54
Rodriguez High School,3999,District,2547363.0,637.0,80.744686,76.84,66.37%,80.22%,52.99%,Large (2000-5000),66.37,80.22,52.99
Shelton High School,1761,Charter,1056600.0,600.0,83.725724,83.36,93.87%,95.85%,89.89%,Medium (1000-2000),93.87,95.85,89.89
Thomas High School,1635,Charter,1043130.0,638.0,83.848930,83.42,93.27%,97.31%,90.95%,Medium (1000-2000),93.27,97.31,90.95
Wilson High School,2283,Charter,1319574.0,578.0,83.989488,83.27,93.87%,96.54%,90.58%,Large (2000-5000),93.87,96.54,90.58
Wright High School,1800,Charter,1049400.0,583.0,83.955000,83.68,93.33%,96.61%,90.33%,Medium (1000-2000),93.33,96.61,90.33

In [30]:

size_math_scores = per_school_summary_copy.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary_copy.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary_copy.groupby(["School Size"]).mean()["% Passing math"]
size_passing_reading = per_school_summary_copy.groupby(["School Size"]).mean()["% Passing reading"]
size_overall_passing = per_school_summary_copy.groupby(["School Size"]).mean()["% Passing both"]

# Assemble into DataFrame
size_summary = pd.DataFrame({
    "School Size by average math score":size_math_scores,
    "School Size by average reading score":size_reading_scores,
    "School Size by percentage of passing math":size_passing_math,
    "School Size by percentage of passing reading":size_passing_reading,
    "School Size by percentage of passing both":size_overall_passing
})

# Display results
size_summary

,School Size by average math score,School Size by average reading score,School Size by percentage of passing math,School Size by percentage of passing reading,School Size by percentage of passing both
School Size,,,,,
Small (<1000),83.820,83.929843,93.55000,96.10000,89.885
Medium (1000-2000),83.374,83.864438,93.59800,96.79000,90.620
Large (2000-5000),77.745,81.344493,69.96375,82.76625,58.285

In [31]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary_copy.groupby(["type"]).mean() 
type_reading_scores = per_school_summary_copy.groupby(["type"]).mean()
type_passing_math = per_school_summary_copy.groupby(["type"]).mean()
type_passing_reading = per_school_summary_copy.groupby(["type"]).mean()
type_overall_passing = per_school_summary_copy.groupby(["type"]).mean()

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Passing both"]

In [32]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "average math score by type":average_math_score_by_type,
    "average reading score by type":average_reading_score_by_type,
    "average percent for passing for math by type":average_percent_passing_math_by_type,
    "average percent for passing for reading by type":average_percent_passing_reading_by_type,
    "average percent for passing both by type":average_percent_overall_passing_by_type,
})

# Display results
type_summary

,average math score by type,average reading score by type,average percent for passing for math by type,average percent for passing for reading by type,average percent for passing both by type
type,,,,,
Charter,83.472500,83.896421,93.620000,96.586250,90.431250
District,76.955714,80.966636,66.548571,80.798571,53.671429